

<div id='abc' style='display:none' ng-controller='MainCtrl'>
  <div class='col-md-12'>
    <div class="stage" >
      <div style='left:-250px; position:fixed' ng-show="banner" class="fade-in-out" >    
       <h1><span class="{{step}} icon-number"></span><div class="node white-back"></div><div class='line'></div><div class='lineCurv' ></h1>
        <p class='ayudaP'>{{helpText}}</p>
        <ul class="hi-icon-effect-1 hi-icon-effect-1a" style="top: 250px; position: fixed;">
            <li><div class="node"></div>
              <span class="icon-help10 vertical-menu opaco hvr-grow" ng-click="ButtonMenu($event,0)" ng-audio-hover="../../assets/sounds/click.mp3"></span>
            </li>
            <li><div class="divider"></div></li>
            <li><div class="node"></div>
              <span class="icon-textT vertical-menu opaco hvr-grow" ng-class="{'white' : front}" ng-click="ButtonMenu($event,1)" ng-audio-hover="../../assets/sounds/click.mp3"></span>
            </li>
            <li><div class="divider"></div></li>
            <li><div class="node"></div>
              <span class="icon-pic vertical-menu opaco hvr-grow" ng-class="{'white' : bottom}" ng-click="ButtonMenu($event,2)" ng-audio-hover="../../assets/sounds/click.mp3"></span>
            </li>
            <li><div class="divider"></div></li>
            <li><div class="node"></div>
              <span class="icon-pen vertical-menu opaco hvr-grow" ng-class="{'white' : right}" ng-click="ButtonMenu($event,3)" ng-audio-hover="../../assets/sounds/click.mp3"></span>
            </li>
            <li><div class="divider"></div></li>
            <li><div class="node"></div>
              <span class="icon-UPload vertical-menu opaco hvr-grow" ng-class="{'white' : back}" ng-click="ButtonMenu($event,4)" ng-audio-hover="../../assets/sounds/click.mp3"></span>
            </li>
        </ul>   
      </div>  
      <div class="fade-in-out" ng-show="buttonNav">
         <span class="icon-left navicons ll hvr-grow"  ng-click="ButtonClicked($event,'left')" ng-audio-hover="../../assets/sounds/click.mp3"></span>
         <span class="icon-right navicons rr hvr-grow" ng-click="ButtonClicked($event,'right')" ng-audio-hover="../../assets/sounds/click.mp3"></span>
      </div>

        <footer class="footer">
         <img src='../../assets/images/logo.png' />
         <div class="fb-like" data-href="https://www.facebook.com/LaAlianzaColombia" data-width="240" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
         <fb:login-button autologoutlink="true" scope="publish_actions,publish_stream"></fb:login-button>
        <!-- <a class="twitter-follow-button"
            href="https://twitter.com/LaAlianzaCo"
            data-size="large">
          Follow @TwitterDev</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         <span class="ig-follow" data-id="1149623392" data-handle="laalianzaco" data-count="true" data-size="medium" data-username="false"></span>
          <script>(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src="//x.instagramfollowbutton.com/follow.js";s.parentNode.insertBefore(g,s);}(document,"script"));</script>-->
        </footer>

      <div class="cube" ng-class="{ 'front-mov': front, 'left-mov': left, 'back-mov': back, 'right-mov': right , 'bottom-mov': bottom , 'make-animation': make }">

        <figure class="back" id='back'>   
         <img src='../../assets/images/DiamantTextureV.png' class='tales'>        
          <div class="col-md-12 hidden_class" align='center'  id='baini' >    
           <img class='img_ter' ng-src="../../assets/images/backs/{{backGround}}" /> 
            <label class='special_label' style='color:{{color}}'>{{text}}</label>
             <div class="input-group special_color_picker">  
               <span class="input-group-addon"><span class="glyphicon glyphicon-tint" style='color:{{color}}'></span></span>
              <input  colorpicker type="text"  ng-model="color" class="form-control">
            </div>
          </div>                          
        </figure>

        <figure class="top" id='top'>     
         <img src='../../assets/images/DiamantTextureV.png' class='tales'>           
        </figure>

        <figure class="bottom" id='bottom'>
         <img src='../../assets/images/DiamantTextureV.png' class='tales'>
          <div class="col-md-12 hidden_class" id='bini'>    
            <img class='img_ini' src="../../assets/images/backs/5.png" /> 
            <input class='special_input' type="text" name="input" ng-model="text"
              required ng-trim="true" maxlength="9" />          
          </div>                  
        </figure>

        <figure class="left" id='left'>
         <img src='../../assets/images/DiamantTextureV.png' class='tales'>      
          <div class="col-md-12 hidden_class" id='lini' >    
             <img class='img_four' ng-src="../../assets/images/backs/{{backGround}}" /> 
              <label class='special_label_four' style='color:{{color}}'>{{text}}</label>
              <fb:login-button scope="publish_actions,publish_stream"></fb:login-button>

              <!-- <canvas id="tempCanvas" width="230" height="230"></canvas>
                <div id="canvasDiv"></div>-->           
                <!--<h2 class='h3_modal'>Regalanos un Like</h2>
            <div class="fb-like" data-href="https://www.facebook.com/LaAlianzaColombia" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>-->
              <span class="glyphicon glyphicon-cog icon_make" aria-hidden="true" ng-click="open()" ng-audio-hover="../../assets/sounds/click.mp3"></span>
          </div>       
        </figure>

        <figure class="right" id='right'>
         <img src='../../assets/images/DiamantTextureV.png' class='tales'> 
           <div class="col-md-12 hidden_class" id='rini' align="center" >    
            <div id="cf7" class="shadow">
                <img class='opaque' src="../../assets/images/backs/1.png" />
                <img src="../../assets/images/backs/2.png" />
                <img src="../../assets/images/backs/3.png" />
                <img src="../../assets/images/backs/4.png" />
                <img src="../../assets/images/backs/5.png" />
              </div>
              <p id="cf7_controls">         
                <img class="selected hvr-grow" ng-click="RegistroSelected($event,'1.png')" src="../../assets/images/backs/1.png" />
                <img class='hvr-grow' ng-click="RegistroSelected($event,'2.png')" src="../../assets/images/backs/2.png" />
                <img class='hvr-grow' ng-click="RegistroSelected($event,'3.png')" src="../../assets/images/backs/3.png" />
                <img class='hvr-grow' ng-click="RegistroSelected($event,'4.png')" src="../../assets/images/backs/4.png" />
                <img class='hvr-grow' ng-click="RegistroSelected($event,'5.png')" src="../../assets/images/backs/5.png" />
              </p>
            </div>      
        </figure>

        <figure class="front" id='front'>        
         <img src='../../assets/images/primer_fondo.png' class='tales'/>  
        </figure>
      </div>
    </div>
  </div>
     <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-body" ng-init="func()">
          <canvas id="tempCanvas" width="700" height="700"></canvas>
            <div id="canvasDiv"></div>
        </div>
        <div class="modal-footer">          
            <button class="btn btn-primary hvr-grow" onclick='postCanvasToFacebook();'>Compartir  <span class="icon-UPload share_icon"></span></button>
            <button class="btn btn-warning hvr-grow" ng-click="cancel()" >Volver</button>
        </div>
    </script>

<script>
    (function( $ ){     
          $(document).ready(function(){

            FB.init({
                   appId : '919154324809187',
                    frictionlessRequests: true,
                    status : true, 
                    cookie : true, 
                    xfbml  : true,  // parse XFBML
                    version: 'v2.3'
                  });

    FB.Event.subscribe('auth.authResponseChange', onAuthResponseChange);
    FB.Event.subscribe('auth.statusChange', onStatusChange);

    //for local testing propouse
    var response={status:'connected'};
    onStatusChange(response);

     $("#cf7_controls").on('click', 'img', function() {
        $("#cf7 img").removeClass("opaque");

        var newImage = $(this).index();

        $("#cf7 img").eq(newImage).addClass("opaque");

        $("#cf7_controls img").removeClass("selected");
        $(this).addClass("selected");
      });

  });   
  })( jQuery );

   </script>

</div>


